@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap');

:root {
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
}

body {
    margin: 0;
    background-color: #eee;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  overflow: clip;
  height: 100%;
  animation-duration: .4s;
}

::view-transition-old(single-poster),
::view-transition-new(single-poster) {
  /* Prevent the default animation,
  so both views remain opacity:1 throughout the transition */

  animation-duration: .4s;
  /* Use normal blending,
  so the new view sits on top and obscures the old view */
  mix-blend-mode: normal;
}